@tailwind base;
@tailwind components;
@tailwind utilities;
 

 [hidden] {
    display:none;
 }
 
@layer base {
  :root {
    --background: 222, 47%, 11%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215, 13%, 72%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    
  }
  .main {
      @apply flex flex-col justify-between items-center min-h-screen leading-[1.5em] pt-4 p-3;
  }
  a{
    @apply text-blue-300;
  }
  a:hover{
    @apply underline
  }
  h3 {
    @apply text-2xl text-center bg-gray-700 p-3 rounded-2xl w-fit mx-auto
  } 
  p {
    @apply text-lg text-left rounded-2xl px-1 my-3 w-fit 
  }
  li{
    @apply w-fit
  }
  
    /* width */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ca2b2b
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer utilities {
  .left {
    flex: 1;
    margin-right: 1rem;
  }
  .container {
    display: flex;
    padding: 0px;
  }
  .right {
    flex: 1;
  }
  
  .quizContainerColor {
    background-color: rgba(255, 255, 255, 0.06);
  }
  
  .correct {
    background-color: rgba(44, 196, 44, 0.08);
  }
 
  .incorrect {
    background-color: rgba(255, 0, 0, 0.08);
  }
  
  pre {
    border-radius: 1rem !important;
    width: fit-content !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
    text-shadow: none !important;
    color: white !important;
    @apply my-3 !important;
  }  
  code {
    text-shadow: none !important;
    color: #d6deeb !important;
  }
  @media (max-width: 768px) {
    img{
      display: none;
    }
    pre {
      display: none;
    }
  }
}

@layer components {
  .card {
    @apply rounded-2xl max-w-[1300px] mb-3 p-7;
    outline: 1px solid hsl(var(--border));
  }
}
